@-webkit-keyframes fadeOut {
   0% {opacity: 1;}
   100% {opacity: 0;}
}

@keyframes fadeOut {
   0% {opacity: 1;}
   100% {opacity: 0;}
}
@-webkit-keyframes fadeIn {
   100% {opacity: 1;}
   0% {opacity: 0;}
}

@keyframes fadeIn {
   100% {opacity: 1;}
   0% {opacity: 0;}
}
.carousel {
  background: black;
}
.carousel-cell {
  width: 70%;
  height: 600px;
  /* flex-box, center image in cell */
  display: -webkit-box;
  display: -webkit-flex;
  display:         flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
}


.carousel-cell img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  /* dim unselected */

  opacity: 0.7;
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s, transform 0.3s, -webkit-filter 0.3s, filter 0.3s;
          transition: opacity 0.3s, transform 0.3s, filter 0.3s;
}

/* brighten selected image */
.carousel-cell.is-selected img {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-filter: none;
          filter: none;
}
.carousel-cell.is-selected img:hover + h1{
  opacity: 0.7;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
@-webkit-keyframes fadeOut {
   0% {opacity: 1;}
   100% {opacity: 0;}
}

@keyframes fadeOut {
   0% {opacity: 1;}
   100% {opacity: 0;}
}
.carousel-cell h1{
  opacity: 0;
  position:absolute;
  bottom:0;
  -webkit-animation-duration: 3s;animation-duration: 3s;
  -webkit-animation-fill-mode: both;animation-fill-mode: both;
}
.carousel-cell.is-selected h1{
  background-color: #5c5c5c;
  color: white;
  padding: 10px;
  opacity: 0.7;
  border-radius: 15px;
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@media screen and ( min-width: 768px ) {
  .carousel-cell {
    height: 600px;
  }
}

@media screen and ( min-width: 960px ) {
  .carousel-cell {
    width: 80%;
  }
}

.flickity-prev-next-button:hover {
  background: transparent;
  opacity: 1;
}
/* arrow color */
.flickity-prev-next-button .arrow {
  fill: white;
}
.flickity-prev-next-button.no-svg {
  color: white;
}
/* closer to edge */
.flickity-prev-next-button.previous { left: 0; }
.flickity-prev-next-button.next { right: 0; }
/* hide disabled button */
.flickity-prev-next-button:disabled {
  display: none;
}



/* big buttons, no circle */
.flickity-prev-next-button {
  width: 100px;
  height: 100px;
  background: transparent;
}
/* arrow color */
.flickity-prev-next-button .arrow {
  fill: white;
}
.flickity-prev-next-button.no-svg {
  color: white;
}
.flickity-prev-next-button:hover {
  background: transparent;
}
/* hide disabled button */
.flickity-prev-next-button:disabled {
  display: none;
}

/* position dots in gallery */
.flickity-page-dots {
  bottom: 0px;
}
/* white circles */
.flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
  border: 2px solid white;
}
/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: white;
}
.carousel.is-fullscreen .carousel-cell {
  height: 100%;
}

.carousel-cell img {
  display: block;
  max-height: 100%;
}

.is-flickity-fullscreen #cssmenu{
  pointer-events: none;
}
