html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}
.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}
body{
    font-family: "Roboto", sans-serif;
}
.insert-page {
    width: 90%;
    padding: 1% 0 0;
    margin: auto;
}
.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 25px;
    padding: 25px;
    box-sizing: border-box;
    font-size: 16px;
}
.form #title input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 25px;
    padding: 25px;
    box-sizing: border-box;
    font-size: 16px;
}
.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 25px;
    padding: 15px;
    font-size: 13px;
    box-sizing: border-box;
    margin-bottom: 0;
}
.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background-color: #151515;
    width: 100%;
    border: 0;
    padding: 25px;
    color: #FFFFFF;
    font-size: 16px;
    transition: all;
    cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
    background: #434343;
}
.form #labels input{
    width: 30%;
    float: left;
    margin-bottom: 15px;
}
.form #labels a{
    padding: 15px;
    float: left;
    cursor: pointer;
    text-align: left;
    font-size: 13px;
}
.form  #labels div{
    height: 50px;
}
.form #labels .insert-label{
    padding-left: 0;
    width: 20%;
}
.form #labels .remove-label{
    position: relative;
    right: 3%;
    padding-right: 0;
    padding-left: 0
}
.form #categories .remove-categories{
    position: absolute;
    right: 3%;
    padding-right: 0;
    padding-left: 0;
    top: 13px;
    cursor: pointer;
}
.form  .insert-categories{
    cursor: pointer;
}

.form #upload div{
    padding: 3%;
    margin-bottom: 5px;
    height: 80px;
}
.form #upload div img{
    width: 80px;
    float: left;
}
.form #upload div input{
    float: right;
    width: 68%;
    margin: 20px;
    height: 40px;
    margin-right: 15%;
}
.form .left{
    float: left;
    width: 45%;
}
.form .right{
    float: right;
    width: 45%;
}
.form #upload-pic{
    width: 80%;
    margin-right: 5%;
}
.form #upload a{
    cursor: pointer;
    position: relative;
    right: 18%;
    padding-right: 0;
    padding-left: 0;
}
.form #upload div a{
    margin-top: 28px;
    float: right;
    position: absolute;
    right: 11%;
}
.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.form h3{
    text-align: left;
    margin-left: 25px;
    margin-top: 40px;
}
.form .message a {
    color: #151515;
    text-decoration: none;
    font-weight: bolder;
}
.form #upload h3{
    margin-top: 0;
}
.form #raw-container div input{
    float: left;
    width: 25%;
    margin: 0 0 0 10px;
}
.form #raw-container div input:first-child{
    margin-left: 25px;
}
.form #raw-container div{
    padding: 0;
}
.form #raw-container div .remove-raw {
    margin-top: 11px;
    width: 24px;
    position: relative;
    float: left;
    cursor: pointer;

}

.form #raw-container .autocomplete-items {
    float: left;
    width: 25%;
    margin-left: 25px;
    position: relative;
}

.form #add_raw {
    width: 33%;
    margin: 0;
    cursor: pointer;

}
.red{
    color:red;
    font-weight: bolder;
    text-align: center;
}
.green{
    color:green;
    font-weight: bolder;
    text-align: center;
}
.orange{
    color: rgb(249, 190, 18);
}
.grey{
    color: #646460;
    cursor: auto;
}
#alert{
    position: absolute;
    width: 98%;
    margin-left: 1%;
}
#alert .alert{
    position: relative;
    margin-bottom: 5px;
}