.recipes-list a{
  text-decoration: none;
  color: #5C5C5C;
  margin-left: 10px;
  font: bold 20px arial,sans-serif;
}
.recipes-list .recipes-list_item{
  list-style: none;
  line-height: 1;
  display: block;
  height: 200px;
  position: relative;
  background: #FFFFFF;
  padding-left: 10px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  margin-bottom: 5px;
}
.recipes-list .recipes-list_left-pic{
  width: 19%;
  height: 200px;
  float:left;
}
.recipes-list .recipes-list_right-text{
  width: 79%;
  float: right;
  height: 200px;
}
.recipes-list .recipes-list_left-pic .carousel-cell h1{
  font-size: 10px;
}
.is-flickity-fullscreen .recipes-list .recipes-list_left-pic .carousel-cell h1{
  font-size: 20px;
}
