#head {
    margin-top: 10px;
    color: #444444;

}

#head .block {
    margin-left: 10px;
    display: inline;
}

#head .block a {
    text-decoration: none;
    color: #444444;
    font-weight: bold;
}

#head #author {
    float: right;
    margin-right: 10px;
}