#head {
    margin-top: 10px;
    color: #444444;
    margin-bottom: 40px;

}

#head .block {
    margin-left: 10px;
    display: inline;
}

#head #labels {
    margin-left: 10px;
}

#head #labels .label a {
    text-decoration: none;
    color: #444444;
    font-weight: bold;
}

#head .block a {
    text-decoration: none;
    color: #444444;
    font-weight: bold;
}

#head #author {
    float: right;
    margin-right: 10px;
}

#carousel, #remarks, #baking, #components, #sources {
    clear: both;
}

#right {
    width: 49%;
    float: right;
    margin-right: 15px;
}

#left {
    width: 49%;
    float: left;
}

#remarks {
    margin-left: 15px;
    margin-top: 15px;
    padding: 30px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#remarks i {
    display: block;
}

#remarks i:last-child {
    float: right;
}

#carousel {
    margin-left: 15px;
}

#baking {
    padding: 30px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#components {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    margin-top: 15px;
    padding: 15px 30px 30px;
}

#components h3 {
    margin-top: 15px;
    margin-bottom: 15px;
}