#head {
    margin-top: 10px;
    color: #444444;
    margin-bottom: 40px;

}

#head .block {
    margin-left: 10px;
    display: inline;
}

#head #labels {
    margin-left: 10px;
}

#head .block a {
    text-decoration: none;
    color: #444444;
    font-weight: bold;
}

#head #author {
    float: right;
    margin-right: 10px;
}

#carousel, #remarks, #baking, #components, #sources {
    clear: both;
}

#right {
    width: 49%;
    float: right;
    margin-right: 15px;
}

#left {
    width: 49%;
    float: left;
}